/* GLobal styles */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}
.container-all {
  width: 85%;
  margin: 0 auto;
}

button {
  background: linear-gradient(
    to right,
    hsl(138, 74%, 75%),
    hsl(155, 74%, 74%),
    hsl(172, 64%, 70%)
  );
  color: #ffffff;
  border: none;
  border-radius: 10em;
  padding: 0.8em 2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  height: 45px;
  width: 170px;
}

a {
  color: #ffffff;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

/* Typography */
.font-color {
  color: hsl(231, 15%, 27%);
}

.font-type-2 {
  color: hsl(233, 8%, 62%);
  font-size: 1em;
}

/* navbar */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
}

.logo img {
  width: 140px;
  height: 20px;
} 
.nav-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.nav-links a {
  font-size: 0.825em;
  color: hsl(233, 8%, 62%);
  line-height: 6em;
  
}

.nav-links li:hover {

  border-color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.nav-links li {
  border-bottom: 4px solid #fff;
  list-style: none;
}

.ham-menu {
  display: none;
}

.ham-menu div {
  background-color: #000;
  width: 25px;
  height: 3px;
  margin: 5px;
}

@media screen and (max-width: 764px) {
  nav {
    width: 90%;
    margin: 0 auto;
  }

  button {
    display: none;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 110vh;
    top: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    background-color: #f2f2f2;
    transform: translateY(-120%);
    transition: transform 0.5s ease-in;
    opacity: 1;
  }

  .nav-links li {
    opacity : 1;
  }

  .nav-links a {
    font-size: 0.825em;
    color: hsl(237, 10%, 36%);
    line-height: 2em;
  }

  .nav-links li {
    border-bottom: 0px;
    list-style: none;
  }

  .ham-menu {
    display: block;
  }

}

.nav-active {
  transform : translate(0%);
}

/* Primary-menu */
.primary .container-all {
  width: 92.5%;
  margin-left: 5.45em;
}

.primary-card {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  flex-wrap: nowrap;
}

.card1 {
  display: flex;
  height: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  max-width: 40%;
  padding-top: 5em;
}

.card1-heading p {
  font-size: 2.9em;
}

.card1-para {
  width: 85%;
}

.outer-image {
  display: flex;
  justify-content: flex-end;
  flex-basis: 56%;
  width: 30em;
  height: 35em;
  background-image: url("../images/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-position: 5em -6em;
  background-size: contain;
}

.inner-image {
  background-image: url("../images/image-mockups.png");
  background-position: 8em -5em;
  width: 40em;
  height: 45em;
  background-repeat: no-repeat;
  background-size: contain;
}

.primary-2, .image-holder, .card.desc {
    display: none;
}

/* Secondary-1 */
.secondary-card1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.section1 {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-bottom: 2em;
}

.section1 .section1-title p {
  font-size: 2em;
}

.section1-para {
  width: 62%;
  padding: 1em 0;
}

.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4em 0;
}

.section2 .sub-section2 {
  width: 23%;
  height: 15em;
}

.sub-section2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section2-para p {
  color: hsl(233, 8%, 62%);
  font-size: 0.925em;
}

.sub-section2-title p {
  font-size: 1.2em;
}

/*secondary-card2 */

.secondary-card2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.secondary-card2-section-1 p {
  font-size: 2em;
  padding: 1em 0;
}

.secondary-card2-section-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 0;
}

.secondary-card2-section-2 > div {
  width: 22.5%;
}

.secondary-card2-section-2-sub {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.secondary-card2-section-2-sub > img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 185px;
}

.part2 {
  margin-left: 1em;
  width: 85%;
  padding: 2em 0;
}

.part2 > div {
  padding: 0.5em 0;
}

.part2 .author p {
  font-size: 0.625em;
}

.part2 .description-link a {
  font-size: 1em;
  font-weight: 500;
}

.part2 .description {
  width: 90%;
}

.part2 .description p {
  font-size: 0.775em;
  font-weight: 500;
}

.description-link a:hover {
  color: hsl(136, 65%, 51%);
}

/* Footer */

.last {
  background-color: hsl(233, 26%, 24%);
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 140px;
  height: 20px;
  padding: 1em 0;
}

.social-links {
  padding: 2em 1em;
  width: 15%;
}

.social-inner {
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-inner img:hover {
  background-color: hsl(136, 65%, 51%);
}

.external-links {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.external-inner {
  height: 60%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.external-inner a {
  font-size: 0.785em;
}

.external-inner a:hover {
  color: hsl(136, 65%, 51%);
}

.invite {
  align-self: center;
}

.invite .primary-btn a {
  margin-left: auto;
}

.invite .copyright {
  padding-top: 1em;
  font-size: 0.875em;
  color: #ffffff;
}

/*! Responsive design */
@media (max-width: 800px) {
  .container-all {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /*Primary button*/

  .primary-container {
    width: 100%;
  }
  
  .primary-card {
    display: none;
  }
  
  
  .outer-image {
    display: none;
  }
  
  .inner-image {
    display: none;
  }

  .primary-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin-bottom: 2em;
  }

  .card-desc {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;
      text-align: center;
  }

  .card-desc > div {
      padding: 0.5em;
  }

  .card-desc-1 {
      font-size: 2em;;
    color: hsl(231, 15%, 27%);
  }

  .image1 {
    display: flex;
    justify-content: flex-end;
    /* flex-basis: 56%; */
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position: -10em 6em;
    background-size: cover;
  }
  
  .image2 {
    background-image: url("../images/image-mockups.png");
    background-position: -4em -7em;
    width: 45em;
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Secondary 1 */
  .secondary-card1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;;
    align-self: initial;
  }
 
  .section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-bottom: 2em;
    text-align: center;
  }

  .section1-para {
    width: 100%;
    padding: 3em 2em 0 2em;
    text-align: center;
  }

  .section1 .section1-title {
      text-align: center;
      width: 80%;
  }
 
  
  .section1 .section1-title p {
    width: 90%;
    font-size: 2em;
  }
  

  .section2 {
    display: flex;
    flex-direction: column;
    margin: auto;

  }
  
  .section2 .sub-section2 {
    width: 100%;
    height: 15em;
  }
  
  .sub-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
  }

  .sub-section2 {
      width: 80%;
      margin:auto;
      text-align: center;
  }
  
  .section2-para p {
    width: 95%;
    color: hsl(233, 8%, 62%);
    font-size: 0.925em;
  }
  
  .sub-section2-title p {
    font-size: 1.2em;
    
  }

  /* secondary-2 */
  .secondary-card2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
  }
  
  .secondary-card2-section-1 p {
    font-size: 2em;
    padding: 1em 0;
    text-align: center;
  }
  
  .secondary-card2-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
  }
  
  .secondary-card2-section-2 > div {
    width: 70%;
  }
  
  .secondary-card2-section-2-sub {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .secondary-card2-section-2-sub > img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 185px;
  }
  
  .part2 {
    margin-left: 1em;
    width: 85%;
    padding: 2em 0;
  }
  
  .part2 > div {
    padding: 0.5em 0;
  }
  
  .part2 .author p {
    font-size: 0.625em;
  }
  
  .part2 .description-link a {
    font-size: 1em;
    font-weight: 500;
  }
  
  .part2 .description {
    width: 100%;
  }
  
  .part2 .description p {
    font-size: 0.775em;
    font-weight: 500;
  }
  
  .description-link a:hover {
    color: hsl(136, 65%, 51%);
  }

  /* footer */
  last {
    width: 100%;
    background-color: hsl(233, 26%, 24%);
  }
  
  .footer {
    display: flex;
    flex-direction: column;
  }
  
  .social-links {
    width: 100%;
  }

  .footer-logo {
    width: 140px;
    height: 20px;
    margin:auto;
    margin-bottom: 1em;
  }
    
  .social-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
    margin:auto;
  }
  
  .social-inner img:hover {
    background-color: hsl(136, 65%, 51%);
  }
  
  .external-links {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
  }
  
  .external-inner {
    height: 100%;
    padding: 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
  }
  
  .external-inner a {
    font-size: 0.785em;
  }
  
  .external-inner a:hover {
    color: hsl(136, 65%, 51%);
  }

  .external-inner > a {
      padding: 0.5em;
  }

  
  .invite {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .invite .copyright p {
      color:  hsl(220, 9%, 41%);
  }

}


